<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <img src="/static/ayush.png" height="40px" class="logo" alt="Ayush logo"/>
        <div class="logoname">Ministry Of Ayush</div>
        <div class="n">
            <a class="nv" href="{{ url_for('index') }}">Home</a>
            <a class="nv" href="{{ url_for('login') }}">Log in</a>
        </div>
    </nav>

    <h1 class="y">Discharge Patient</h1>
    <div class="signup_box">
        <div class="enter">
            <label for="patient_id">Enter Patient ID: </label>
            <input type="text" id="patient_id" name="patient_id" placeholder="e.g. ab123" required/>
        </div>
        <div class="ent">
            <input type="submit" value="Discharge" />
        </div>
    </div>

    <footer class="footer">
        <div class="sec">
            <img src="/static/ayush.png" height="30px" class="logo" alt="Ayush logo"/>
            Ministry of Ayush
        </div>
        <div class="sec">
            Helpful links
            <a href="courses.html" class="flink">Services</a>
            <a href="FAQs.html" class="flink">FAQs</a>
            <a href="TnC.html" class="flink">Terms and Conditions</a>
        </div>
        <div class="sec">
            Connect with us
            <ul>
                <li><i class="fa-solid fa-phone"></i> **********</li>
                <li><i class="fa-solid fa-envelope"></i> abc@gmail.com</li>
                <li><i class="fa-brands fa-instagram"></i> ******</li>
                <li><i class="fa-brands fa-facebook"></i> ********</li>
                <li><i class="fa-brands fa-linkedin"></i> *********</li>
            </ul>
        </div>
    </footer>
</body>
</html>
